body{
    

}
header{
    background: linear-gradient(135deg, white, blue);
   text-align: center;
   margin: auto;
    padding: 20px;

   
}
.sports{
    text-align: center;
    margin: auto;
     padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto; /* Creates two columns */
    gap: 10px; /* Adds space between the grid items */
    padding: 10px;
  }
  
  .grid-item {
    background-color: lightblue;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
  }
  